<div class="hidden-account-box">
    <hr style="border-top: 1px solid black">
    <div class="login">
        <p class="text-center">Hoặc đăng nhập bằng seabeauty.vn</p>
        <div class="internal-link text-center">
            <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </div>
    </div>
    <div class="no-account"> 
        <p>Bạn chưa có tài khoản? <span><a asp-area="Identity" asp-page="/Account/Register">Đăng ký ngay</a></span></p>
    </div>
</div>