<div class="hidden-account-box">
    <div class="external-login">
        <div class="arrow-up">
        </div>
        <p>Đăng nhập với</p>
        <div class="internal-link row">
            <a class="col-4 offset-2 btn text-white" style="background-color: blue">
                <div class="brand-name">
                    <i class="fab fa-facebook-f"></i>&nbsp;<span class="fw-bold text-end">Facebook</span>
                </div>
            </a>
            <a class="col-4 offset-1 btn text-white" style="background-color:tomato">
                <div class="brand-name">
                    <i class="fab fa-google-plus-g" aria-hidden="true"></i>&nbsp;
                    <span class="fw-bold">Google</span>
                </div>
            </a>
        </div>
    </div>
    <hr style="border-top: 1px solid black">
    <div class="internal-login">
        <p class="text-center">Hoặc đăng nhập bằng seabeauty.vn</p>
        <div class="internal-link text-center">
            <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </div>
    </div>
    <div class="no-account"> 
        <p>Bạn chưa có tài khoản? <span><a asp-area="Identity" asp-page="/Account/Register">Đăng ký ngay</a></span></p>
    </div>
</div>