@model List<string>

    <div class="d-inline-flex justify-content-between w-100 h-100 my-2" >
        <div style="width: 30%">
            <img src="~/images/footer/ft-img10.png" class="h-100 w-100" />
        </div>

        <div style="width: 30%">
            <img src="~/images/footer/ft-img10.png" class="h-100 w-100" />
        </div>

        <div style="width: 30%">
            <img src="~/images/footer/ft-img10.png" class="h-100 w-100" />
        </div>
    </div>