<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="footer-section">
                <h6 class="fw-bold">Hỗ trợ khách hàng</h6>
                <ul class="list-unstyled text-left footer-list">
                    <a href="tel:19001600">
                        <li>Hotline: <span class="text-warning">1900 1600</span>
                        (miễn phí, từ 8-22h T2 - CN)
                    </li>
                    </a>
                    <a href=""><li>Các câu hỏi thường gặp</li></a>
                    <a href=""><li>Gửi yêu cầu hỗ trợ</li></a>
                    <a href=""><li>Phương thức thanh toán</li></a>
                    <a href=""><li>Phương thức vận chuyển</li></a>
                    <a href=""><li>Hỗ trợ đổi trả</li></a>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="footer-section">
                <h6 class="fw-bold">Sản phẩm nổi bật</h6>
                <ul class="list-unstyled text-left footer-list">
                    <a href="">
                    <li>Dầu dưỡng da</li></a>
                    <a href="">
                    <li>Sữa rửa mặt</li></a>
                    <a href="">
                    <li>Bông tẩy trang</li></a>
                    <a href="">
                    <li>Thuốc trị mụn</li></a>
                    <a href="">
                    <li>Dầu dưỡng tóc</li></a>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="footer-section">
                <h6 class="fw-bold">Hợp tác & Liên kết</h6>
                <ul class="list-unstyled text-left footer-list">
                    <li>
                        Kênh thương hiệu
                    </li>
                    <a href=""><li>https://seabeauty.vn</li></a>
                    <li>
                        Thanh toán
                    </li>
                    <li class="logo-co-operate">
                        <img src="~/images/footer/ft-img10.png" alt="Hỗ trợ thanh toán" />
                        <img src="~/images/footer/ft-img11.png" alt="Hỗ trợ thanh toán" />
                        <img src="~/images/footer/ft-img9.png" alt="Hỗ trợ thanh toán" />
                    </li>
                    <li>
                        Chứng nhận
                    </li>
                    <li class="logo-co-operate">
                        <img src="~/images/footer/ft-img1.png" alt="Chứng nhận" />
                        <img src="~/images/footer/ft-img2.png" alt="Chứng nhận" />
                        <img src="~/images/footer/ft-img5.png" alt="Chứng nhận" />
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <h6>Cập nhật thông tin từ SeaBeauty</h6>
            <div class="footer-section">
                <form>
                    <input placeholder="Nhập email" class="h-50" type="email" name="email-followed" id="email-followed"/>
                    <br />
                    <input type="radio" value="Nam" name="sex" id="sex"/>
                    <span>Nam</span>
                    <input type="radio" value="Nữ" name="sex" id="sex"/><span>Nữ</span><br />
                    <button class="btn btn-info fw-bold text-white">Đăng ký</button>
                </form>
                <p>Nhận ưu đãi sớm nhất, có quyền lợi giảm giá riêng biệt</p>
            </div>
        </div>
    </div>
    <div class="row border-top pt-3">
        <div class="col-8 ft-df">
            <h6>Đẹp đi đôi với chất lượng</h6>
            <p>
                Đẹp - Là một từ mà mọi người đều khát khao cả nam lẫn nữ. Đẹp đi đôi với khỏe mạnh, đẹp đi đôi với sự lựa chọn thông minh. Đẹp toát ra từ vẻ ngoài tươi tắn tràn đầy năng lượng sống. Chính vì vậy sức khỏe và làm đẹp ngày càng được nhiều người quan để hướng đến cuộc sống tươi vui, hạnh phúc hơn. Sức khỏe tốt được biểu hiện qua làn da hồng hào,mịn màng, vóc dáng cân đối, mái tóc bồng bềnh và hàm răng chắc khỏe. Thấu hiểu nhu cầu đó, các hãng mỹ phẩm không 
                ngừng nghiên cứu và cho ra đời hàng nghìn loại mỹ phẩm làm đẹp đa dạng chủng loại. Nhiều nhóm hàng mỹ phẩm bao gồm chăm sóc da, chăm sóc tóc, chăm sóc toàn thân, chăm sóc cá nhân, nước hoa lần lượt ra đời và đa dạng hóa để đáp ứng nhu cầu làm đẹp của con người.
            </p>
            <p>
                Chất lượng - Là một tiêu chuẩn sản phầm có tính giá trị cao về sức khỏe, phù hợp với mục đích sử dụng, chất lượng về độ an toàn, giá thành và hiệu quả sản phẩm chính hãng. Tại SeaBeauty có một đội ngũ sản xuất danh tiếng, liên kết và được chứng nhận ở nhiều nơi với các dòng sản phẩm
                đa dạng phù hợp với mọi thế hệ.
            </p>

        </div>
        <div class="col-4">
            <h6>Hệ thống cửa hàng</h6>
            <select>
                <option></option>
            </select>
            <div class="ft_address_box">
                <div class="ft_address_list">
                    <h5>TP. Hồ Chí Minh</h5>
                    <div class="region_address">
                        <strong>Quận Tân Bình</strong>
                        <div>
                            71 Hoàng Hoa Thám, Phường 13
                            723 Cách Mạng Tháng Tám, Phường 6
                            31-33 Phổ Quang, Phường 2
                            28 Phan Huy Ích, Phường 15
                            694 Âu Cơ, Phường 14
                        </div>
                    </div>
                    <div class="region_address">
                        <strong>Quận Tân Bình</strong>
                        <div>
                            71 Hoàng Hoa Thám, Phường 13
                            723 Cách Mạng Tháng Tám, Phường 6
                            31-33 Phổ Quang, Phường 2
                            28 Phan Huy Ích, Phường 15
                            694 Âu Cơ, Phường 14
                        </div>
                    </div>
                    <div class="region_address">
                        <strong>Quận Tân Bình</strong>
                        <div>
                            71 Hoàng Hoa Thám, Phường 13
                            723 Cách Mạng Tháng Tám, Phường 6
                            31-33 Phổ Quang, Phường 2
                            28 Phan Huy Ích, Phường 15
                            694 Âu Cơ, Phường 14
                        </div>
                    </div>
                </div>
            </div>
            <div class="expand_address_details">
                Xem thêm nhiều hơn
            </div>
        </div>
    </div>
    <div class="mt-3 footer-recognize text-muted">
        <p>Giấy chứng nhận Đăng ký Kinh doanh số 0313612829 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 13/01/2016</p>
        <p>
            Bản quyền © 2019 SeaBeauty.vn
            Công Ty cổ phần SEA BEAUTY & CLINIC
        </p>
    </div>
</div>
   
