@page "/add-user-roles/{id}" 
@*them id param, onget van giu lai*@
@model WebCosmetic.Admins.Auth.AddUserRolesModel
@{
    Layout = "../../../../Views/Shared/_Layout.cshtml";
}

<h1>Thêm role cho mã nhân viên @Model.user.UserName</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.RolesName"></label>
        @Html.ListBoxFor(m => m.RolesName, Model._listRoles,new{
            @class="role-item",
            @id = "role-set"
        })
    </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Đồng ý</button>
    </div>
</form>