@page
@model DeletePersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text_title_page">Xóa @ViewData["ActivePage"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Cảnh báo xóa dữ liệu sẽ dẫn đến mất tài khoản</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Xóa dữ liệu và tài khoản</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}