@page
@model DownloadPersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Tải dữ liệu @ViewData["ActivePage"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}