@page
@model PersonalDataModel
@{
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text_title_page">Dữ liệu cá nhân</h4>

<div class="row">
    <div class="col-md-6">
        <p>Thông tin của bạn chúng tôi đã lưu trữ, hiện tại bạn có thể tải về và xem nó</p>
        <p>
            <strong>Xóa dữ liệu sẽ dẫn đến việc mất tài khoản, bạn có chắc chắn ?</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary w-25" type="submit">Tải xuống</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger w-25 my-2">Xóa</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
