
.med_size {
    height: 100px;
    width: 300px;
}
.old-price {
    color: gray;
    text-decoration: line-through;
    font-size: 14px;
}

.buyed {
    font-size: 10px;
}

.discount {
    padding: 1px;
    font-size: 14px;
    background-color: orange;
    color: white;
}

.time_sale {
    display: flex;
    justify-content: space-between;
    div {
        padding: 2px;
        color: white;
        margin-right: 5px;
        border-radius: 5px;
        width: 40px;
        height: 30px;
        text-align: center;
        background-color: orange;
        font-size: 18px;
    }
}

.swiper-container {
    max-width: 100%;
    height: 350px;
    overflow: hidden;
}
.block_product_list{
    max-height: max-content;
}
.advert_inventory{
    height: max-content !important;
    margin-bottom: 15px;
}
.swiper-container {
    position: relative; /* Để có thể sử dụng position: absolute cho các phần tử con */
}

/* Đặt vị trí của nút trượt trái/phải */
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px !important;
}
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%; /* Đặt vị trí theo chiều cao 50% của swiper container */
    transform: translateY(-10%); /* Để căn giữa theo chiều dọc */
    z-index: 1; /* Đảm bảo các nút nằm trên cùng của swiper */
    border: none;
    color: white !important;
    background-color: lightgray;
    border-radius: 20px;
    width: 20px !important;
    height: 40px !important;
}
#chatZoom{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    background-color: #00b3b3;
    color: white;
    animation: _zoomIn_ 1.5s ease;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    border-radius: 50%;
    z-index: 15;

}
#boxChat {
    position: fixed;
    bottom: 0px;
    right: 40px;
    width: 300px;
    z-index: 16;
    background-color: white;
    min-height: max-content;
    display: none;

    .chat_option {
        background-color: deepskyblue;
        padding: 10px;
        color: white;
        font-size: 2vh;
    }

    #chat_content {
        height: 300px;
        padding: 10px;
        overflow-y: scroll;
    }

    .chat_input {
    }
}
/* Đặt vị trí của thanh phân trang (pagination) */
.swiper-pagination {
    position: absolute;
    bottom: 10px; /* Đặt vị trí dưới cùng */
    left: 50%; /* Đặt vị trí theo chiều ngang 50% của swiper container */
    transform: translateX(-50%); /* Để căn giữa theo chiều ngang */
    z-index: 1; /* Đảm bảo pagination nằm trên cùng của swiper */
}

@keyframes _zoomIn_{
    0%{
        box-shadow: 0 0 0 #80ffff;
    }
    75% {
        box-shadow: 0 0 0 14px #326e5100
    }
    100% {
        box-shadow: 0 0 0 #326e5100;
    }
}