@using Newtonsoft.Json
@{
    List<HistoryProductBill> products = ViewData["HistoryProduct"] as List<HistoryProductBill>;
}
<div class="row container-fluid mx-2 my-2 d-flex justify-content-between flex-wrap" id="billBox">
    
</div>
<div>
</div>
<script>
    const get = document.getElementById("billBox");
    $.ajax({
        url: '/api/HistoryAPI/',
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function (resdata) {
            var getProducts = @Html.Raw(JsonConvert.SerializeObject(products));
            var text = "";
            for (let i = 0; i < resdata.length; i++) {
                var productText = "";
                for (let j = 0; j < getProducts.length; j++) {
                    if (getProducts[j]._mahd == resdata[i]._bill._billCode) {
                        productText += `
                        <div class="p-1">${getProducts[j]._tenSp} x ${getProducts[j]._soluong} - ${getProducts[j]._giaban}</div>`
                    }
                }
                text += `<div class="card my-1 mx-1 my-1" style="width: max-content">
            <div class="card-header text-left bg-success">
                <span>Mã hóa đơn: ${resdata[i]._bill._billCode}</span>
            </div>
            <div class="card-subtitle text-left p-1">
                <div>Phương thức: ${resdata[i]._bill._methodPayment}</div>
                <div>Mã giao dịch / giao vận: ${resdata[i]._bill._transactionCode}</div>
            </div>
            <div class="card-body p-2 text-left">
                <div>Tên khách hàng: ${resdata[i]._clientInfo._clienName}</div>
                ${productText}

            </div>
            <div class="footer text-muted">
                Tổng thanh toán: ${resdata[i]._bill._totalMoney}
            </div>
        </div>`
            }
            get.innerHTML = text;
        },
        error: function () {
            alert("Some error have occur");
        }
    });
</script>